<div class="container-fluid">
        <div class="row">
               <div class="col-lg-4">
                <mat-card class="card">
                    
                </mat-card>
            </div>
<div class="col-lg-8">
    <div *ngFor="let contractor of contractors"> 
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{contractor.user.fullname}}</mat-card-title>
          <mat-card-subtitle>Near {{contractor.zipCode}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            {{contractor.bio}}
          </p>
          <span>{{contractor.phoneNumber}}</span>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>REQUEST</button>
          <button mat-button>VIEW</button>
        </mat-card-actions>
      </mat-card>
      <br/><br>
      </div>
</div>
        

      
