<div class="container-fluid">
        <div class="row">
               <div class="col-lg-4">
                <mat-card class="card">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>MY PROFILE</mat-card-title>
                      <mat-card-subtitle>Account Information</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                      <p>
                        Name: <br/>
                        Phone Number: <br/>
                        Address: <br/>
                        Bio:
                      </p>
                      
                    </mat-card-content>
                </mat-card>
            </div>
<div class="col-lg-8">
    <div class="profileDiv" *ngFor="let profile of WALKER_PROFILES">
        <h3>{{profile.name}}</h3>
        <p>{{profile.bio}}</p>
        <a routerLink="/home"><button mat-raised-button color="primary">Request</button></a>
    </div>
</div>
</div>
        

      
