

.container-fluid {
    padding-top: 50px;
}

.card {
    min-height: 100px;
    

}

#editProfile {
  font-family: Arial, Helvetica, sans-serif;
  

}
#editProfileContainer {

padding-top:100px;

}
