<div>
        <mat-card class="card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>MY PETS</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                    <div class="flex-container">
                        <div class="row">
                            <div class="col-xs-6" id="dogContainer" *ngFor="let dog of dogs">
                                <h4>{{dog.fullname | uppercase}}</h4>
                                <hr>
                                <h4>{{dog.breed}}</h4>
                                <h4>{{dog.dogSize}}</h4>
                                <h4>{{dog.gender}}</h4>
                                <h4>{{dog.dogAge}}</h4>
                            </div>
                        </div>
                    </div>
                    </mat-card-content>
                    <div class="container" id="doggyContainer" *ngIf="showAdd">
                            <div class="col-12" id="addMyDog">
                                    <form>
                                        <h2>Add Your Dog</h2>
                                            <div class="form-row">
                                                <div class="form-group col-md-12">
                                                    <label for="editName">Full Name</label>
                                                    <input [(ngModel)]="newDog.fullname" type="text" class="form-control" name="editName">
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-12">
                                                    <label for="breed">Breed</label>
                                                    <input [(ngModel)]="newDog.breed" type="text"  class="form-control" name="breed">
                                                </div>
                                            </div>
                            
                                        <div class="form-row">
                            
                                            <div class="form-group col-md-12">
                                                    <label for="size">Dog Size</label>
                                                    <input [(ngModel)]="newDog.dogSize" type="text" class="form-control" name="dogSize" placeholder="Small/Medium/Large/Giant">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                    <label for="gender">Gender</label>
                                                    <input [(ngModel)]="newDog.gender" type="text"  class="form-control" name="dogGender" placeholder="Female/Male">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                <label for="age">Age</label>
                                                <input [(ngModel)]="newDog.dogAge" type="text"  class="form-control" name="dogAge" placeholder="My Age!">
                                            </div>
                                        </div>
                                        </form>
                                                <button mat-raised-button color="basic" (click)="addDog()">Submit</button>
                                            <br/><br/><br/>
                                            </div>
                                        </div>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="toggleShowAdd()">Add Pet</button>
            </mat-card-actions>
        </mat-card>
    </div>