.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

  body {
     margin: 0;
  }
a {color: whitesmoke;}         /* Unvisited link  */
a:visited {color:white;} /* Visited link    */
a:hover {color:whitesmoke;}   /* Mouse over link */
a:active {color:whitesmoke;}  /* Selected link   */