<mat-toolbar color="primary">
    <a routerLink="/home"><button mat-button>Paw Path</button></a>  
    <a routerLink="/walkerRegistration"><button mat-button>Become A Walker</button></a>
    <a routerLink="/search"><button mat-button>Search For Walkers</button></a>
      <!-- This fills the remaining space of the current row -->
      <span class="example-fill-remaining-space"></span>
      <a routerLink="/dashboard"><button mat-button>Dashboard</button></a>
      <a routerLink="/customerRegistration"><button mat-button>Sign Up</button></a>
      <a routerLink="/login"><button mat-button>Login</button></a>
    </mat-toolbar> 
  
     <router-outlet></router-outlet>