<div class="container bg-primary">
  <div class="row justify-content-center">
    <div class="col-sm-6">
        <div class="row justify-content-center login-title">
            <h1 class="display-4 font-weight-bold text-primary">Sign-Up Page</h1>
      </div><br>
    
      <form>  
        <div class="form-group">
          <label for="exampleInputEmail1">Username</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username">
        </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-group">
          <label for="exampleInputEmail1">Fullname</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Fullname">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">User Role</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Fullname">
          </div>
          <div class="row justify-content-center">
              <button type="submit" class="btn-lg btn-light text-primary font-weight-bold" id="login-btn">Register</button>
      </div>
    </form>
    </div>
  </div>
</div>


