<div class="container bg-primary">
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <div class="row justify-content-center login-image">
                  <img src="../../assets/dogy.jpeg"><br>
            </div>
            <div class="row justify-content-center login-title">
                <h1 class="display-4 font-weight-bold text-primary">Login Page</h1>
          </div><br>
            <form>
                <div class="form-group">
                    <label for="username" style="color:white; font-weight:900">Username</label>
                    <input type="text" name="username" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Enter Username">
                </div>
               <div class="form-group">
                      <label for="username" style="color:white; font-weight:900">Password</label>
                      <input type="text" name="password" class="form-control" id="password" aria-describedby="emailHelp" placeholder="Enter Password">
                </div>
                <div class="row justify-content-center">
                        <button type="submit" class="btn-lg btn-light text-primary font-weight-bold" id="login-btn">Login</button>
                </div>
            </form>
          </div>
    </div>
  </div>
